<footer>
    <div class="d-flex p-2 col-example">
        <div class="w-100">
            <p>
                &copy; Desarrollado por: Livaes | 2020
            </p>
        </div>
        <div class="flex-shrink-1">
            
                <a href="https://weekly.statuscode.com/" target="_blank">
                    StatusCode Weekly
                </a>
            
            <p>
                A weekly newsletter focusing on software development, infrastructure, the server, performance, and the stack end of things.     
            </p>
        </div>
    </div>
</footer>


