<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>
 <!--
<button (click)="getColor()" class="btn btn-danger">Obtener colores</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre:</th>
            <th>Año:</th>
            <th>Hexademical:</th>
            <th>Pantone:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let color of data | paginate : { id: 'listing_pagination',
            itemsPerPage: 3,
            currentPage: page,
            totalItemns: totalRecords }">

        
        <td>{{color.name}}</td>
        <td>{{color.year}}</td>
        <td>{{color.color}}</td>
        <td>{{color.pantone_value}}</td>

    </tr>
    </tbody>
</table>
<div>
    <pagination-controls id="listing_pagination" maxSize="5" direcionLinks="true" (pageChange)="page = $event">
        
    </pagination-controls>
</div>
-->